@-moz-document domain("twitter.com") {
  .r-sdzlij {
    border-radius: 4px;
  }

  div.r-1jgb5lz:nth-child(4) {
    max-width: 800px !important;
  }

  .r-1ljd8xs {
    max-width: 800px !important;
  }

  .r-150rngu {
    width: 1190px;
  }

  .r-1ye8kvj {
    max-width: 800px;
  }

  .r-rsyp9y {
    width: 800px;
  }

  .r-xnswec {
    max-width: 350px;
  }

  /* Worldwide trends, suggestions etc sidebar
       .r-1uaug3w is used elsewhere too so need to limit it to children of .r-gbq138 */
  .r-gbq138 > div.r-1uaug3w:nth-child(1n + 2) {
    /*background-color: #ff0000;*/
    display: none;
  }

  /* Did this originally to hide the Messages menu at bottom right but it also breaks the messages view itself
    .r-173mn98 {
      display: none;
    }
    */

  div.r-1h0z5md:nth-child(2) {
    margin-left: 0px;
  }

  /* Chat popup width */
  .r-ouzzow {
    width: 100%;
  }

  /* Chat bubble radius */
  .r-1867qdf {
    border-radius: 8px;
  }
}
